
.dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.dashboard-left-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.dashboard-right-panel {
  flex-grow: 1;
  padding: 20px;
}

.dogs-container {
  flex-grow: 1;
  margin: 20px 0;
}

.dog-container {
  padding: 5px;
  background: #ffc654;
  color: white;
  border: 4px solid #ffc654;
  margin-bottom: 10px;
  cursor: pointer;
}
.dog-container:hover {
  border: 4px solid #000;
}

.dog-container > .name {
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}
.dog-container > .breed {
  text-transform: capitalize;
}

.dogs-container {
  flex-grow: 1;
}

.label {
  width: 100px;
  display: inline-block;
}

.add-pet-container {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.add-pet-container > * {
  display: block;
  box-sizing: border-box;
}

.add-pet-container > input {
  width: 100%;
  margin-bottom: 10px;
}

.add-pet-container > button {
  width: 100%;
}