@font-face {
  font-family: 'Tiempos';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Tiempos/TiemposHeadline-Bold.ttf');
}

@font-face {
  font-family: 'Tiempos';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Tiempos/TiemposHeadline-Bold.ttf');
}
