/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

button {
  background: #ffc654;
  color: white;
  border: 1px solid #eeb23a;
  box-sizing: content-box;
  outline: none;
}


h1, h2, h3 {
  font-family: 'Tiempos', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.main-container {
  padding: 45px 20px 0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 0 0;
  height: 100%;
  position: absolute;
}

.pure-button-primary {
  background-color: #ffc654;
}

.pure-button-primary:hover {
  background-color: #eeb23a;
}

.pure-form input[type="text"]:focus {
  border-color: #ffc654;
}

/* NAVBAR */

.navbar {
  z-index: 888;
  position: fixed;
  padding: 5px;
  background: #ffc654;
  font-family: 'Tiempos', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #eeb23a;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}
